<div class="images-container">
  <% data.images[category].each do |image| %>
    <% html_id = image["id"].gsub(".", "") %>
    <div class="image">
      <h3><%= image["title"] %></h3>
      <%= image_tag "images/content/small/#{image["id"]}.jpg", class: "thumbnail" %>
    </div>
  <% end %>
</div>
