---
title: The Band from Above | Band History
---

<%= stylesheet_link_tag "multimedia" %>
<%= javascript_include_tag "multimedia" %>

<%= partial "image_nav", locals: { category: "aerial" } %>

<h2>The Band from Above</h2>

<strong>Work on this later</strong>

<%= partial "image_gallery", locals: { category: "aerial" } %> 
