---
title: Documents | Band History
---

<%= stylesheet_link_tag "multimedia" %>
<%= javascript_include_tag "multimedia" %>

<%= partial "image_nav", locals: { category: "documents" } %>

<h2>Documents</h2>

<strong>Work on this later</strong>

<%= partial "image_gallery", locals: { category: "documents" } %> 
