---
title: Field and Stands Images | Band History
---

<%= stylesheet_link_tag "multimedia" %>
<%= javascript_include_tag "multimedia" %>

<%= partial "image_nav", locals: { category: "field" } %>

<h2>Field and Stands Images</h2>

<p class="lead">One of the band's most familiar settings is on the football field or in the stands, cheering for the team. In these photos, though uniforms, instrumentation, and membership may vary through the years, it is clear that some traditions change very little.</p>

<%= partial "image_gallery", locals: { category: "field" } %> 
