---
title: Field and Stands Images | Band History
---

<%= stylesheet_link_tag "multimedia" %>
<%= javascript_include_tag "multimedia" %>

<%= partial "image_nav", locals: { category: "field" } %>

<h2>Field and Stands Images</h2>

<p class="lead">TODO text</p>

<%= partial "image_gallery", locals: { category: "field" } %> 
