---
title: Group Images | Band History
---

<%= stylesheet_link_tag "multimedia" %>
<%= javascript_include_tag "multimedia" %>

<%= partial "image_nav", locals: { category: "group" } %>

<h2>Group Ensemble Images</h2>

<strong>Work on this later</strong>

<%= partial "image_gallery", locals: { category: "group" } %> 
