---
title: Group Images | Band History
---

<%= stylesheet_link_tag "multimedia" %>
<%= javascript_include_tag "multimedia" %>

<%= partial "image_nav", locals: { category: "group" } %>

<h2>Group Ensemble Images</h2>

<p class="lead">The growth in size and instrumentation of the band through the decades is clear through these group photographs. Images which do not feature the marching band have also been provided, such as the Cadets and ROTC which included band members, and groups relevant to the band's history, like early sports teams and other music ensembles.</p>

<%= partial "image_gallery", locals: { category: "group" } %> 
