---
title: Parade Images | Band History
---

<%= stylesheet_link_tag "multimedia" %>
<%= javascript_include_tag "multimedia" %>

<%= partial "image_nav", locals: { category: "parade" } %>

<h2>Parade Images</h2>

<strong>Work on this later</strong>

<%= partial "image_gallery", locals: { category: "parade" } %> 
