---
title: Parade Images | Band History
---

<%= stylesheet_link_tag "multimedia" %>
<%= javascript_include_tag "multimedia" %>

<%= partial "image_nav", locals: { category: "parade" } %>

<h2>Parade Images</h2>

<p class="lead">The marching band is no stranger to marking important events with exhibitions and parades. These photographs here offer a glimpse of recurring events of significance to the University at large, like Ivy Day, ROTC Inspection Day, and Commencement, but also mark important single occasions like Pershing Day and specific bowl parades.</p>

<%= partial "image_gallery", locals: { category: "parade" } %> 
