---
title: Images of People | Band History
---

<%= stylesheet_link_tag "multimedia" %>
<%= javascript_include_tag "multimedia" %>

<%= partial "image_nav", locals: { category: "people" } %>

<h2>Images of People</h2>

<p class="lead">The following images have a range of settings, from studio portraits to staged publicity shots to candid moments in rehearsals, but they share the thread of focusing on specific individuals. Browsing through the years, the band's uniform is a testament to the band's evolution, from military garments to bright stylings.</p>

<%= partial "image_gallery", locals: { category: "people" } %> 
