---
title: Images of People | Band History
---

<%= stylesheet_link_tag "multimedia" %>
<%= javascript_include_tag "multimedia" %>

<%= partial "image_nav", locals: { category: "people" } %>

<h2>Images of People</h2>

<p class="lead">TODO should this separate out when it's photos of people on the field vs closeups?</p>

<%= partial "image_gallery", locals: { category: "people" } %> 
