@import "_site_variables.css.scss";

.thumbnail {
  width: 100%;
  height: auto;
}

/* ******* */
/* Footage */
/* ******* */

.badge {
  background-color: $secondary;
  color: $text-color;
}

video {
  width: 630px;
}

.videos-container {
  display: flex;
  flex-wrap: wrap;
}

.video {
  padding: 1em;
  flex-basis: 260px;
  flex-grow: 1;

  a:link {
    color: $text-color;
    text-decoration: none;
  }
  a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  a:active {
    text-decoration: underline;
  }

  &:hover {
    background-color: $gray-200;
  };
}

.video-hidden {
  display: none;
}

/* ****** */
/* Images */
/* ****** */

.images-container {
  display: flex;
  flex-wrap: wrap;

  h3 {
    font-size: 18px;
  }
}

.image {
  padding: 1em;
  flex-basis: 260px;
  flex-grow: 1;

  a:link {
    color: $text-color;
    text-decoration: none;
  }
  a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  a:active {
    text-decoration: underline;
  }

  &:hover {
    background-color: $gray-200;
  };
}

.image-navbar .active {
  background-color: $gray-200;
}
