$primary-color: #d20000;
$secondary-color: #f1f1f1;
$accent-color: #cacaca;
$text-color: black;

/* ******* */
/* Footage */
/* ******* */

.badge {
  background-color: $secondary-color;
  color: $text-color;
}

.thumbnail {
  width: 100%;
  height: auto;
}

video {
  width: 630px;
}

.videos-container {
  display: flex;
  flex-wrap: wrap;
}

.video {
  padding: 1em;
  flex-basis: 260px;
  flex-grow: 1;

  a:link {
    color: $text-color;
    text-decoration: none;
  }
  a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  a:active {
    text-decoration: underline;
  }

  &:hover {
    background-color: $accent-color;
  };
}

.video-hidden {
  display: none;
}
