@import "_site_variables.css.scss";

/* ****************** */
/* General Appearance */
/* ****************** */

html {
  background-color: mix($primary,$black,70%);
}

header {
  margin-bottom: 1em;
  background-color: mix($primary,$black,70%);
  text-align:center;
}

img {
  max-width: 100%;
}

h1 .navbar-brand {
  font-size: 1em;
  letter-spacing: 0.1em;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, .8), 3px 3px 10px rgba(167, 17, 7, .8);
  font-family: 'Cinzel', serif;
  white-space: normal;
}

.index h1 .navbar-brand {
  font-size: 1.8em;
}

.call_text {
  font-size: 1.4em;
  font-weight: 400;
  font-family: 'Cutive', serif;
}

.lead {
  font-weight: 400;
}

.navbar {
  display: block; 
}

.navbar-nav {
  flex-direction:row;
  justify-content: center;
  flex-wrap: wrap;
  a {
    text-decoration: none;
    color: #ffffff;
  }
}

.navbar-dark .navbar-nav .nav-item {
  &.active {
    background-color: mix($primary,$black,30%);
  }
  &:hover {
    background-color: mix($primary,$black,90%);
  }
  .nav-link {
    color: #ffffff;
  }
}

.nav-item {
  background-color: mix($primary,$black,70%);
  font-family: 'Cutive', serif;
  font-size: 1.2em;
  margin: .1em .4em;
  padding: .2em .4em 0 .4em;
}

h1, h2, h3, h4, h4, h5 {
  font-family: 'Cutive', serif;
  padding-top: 10px;
}

a {
  text-decoration: underline;
}

nav a {
  text-decoration: none;
}

footer {
  background-color: mix($primary,$black,70%);
  margin-top: 3em;
}

.footer {
  margin-top: 1em;
  margin-bottom: 4em;
  padding: 15px;
  display:block;
  
  a {
    color: $white;
  }
}

.logo_container > img {
  width: 200px;
}

/* ****************** */
/*        Home        */
/* ****************** */

.home_callout {
  height: 40vh;
  margin: 2em 0;
  width: 100%;
}

.home_callout_1 {
  background: url('../images/content/template/street.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.callout_inner {
  background-color: rgba(0,0,0,.6);
  color: $white;
  font-size: 1.3em;
  padding: 1em;
  width: max-content;
}

/* ****************** */
/* Section Navigation */
/* ****************** */

$dark-overlay: rgba(0,0,0,0.7);

.section-nav-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;

  a {
    border-style: solid;
    border-bottom-width: 20px; // Must come after border-width
    color: $dark-overlay; // Without this the border is white (???)
    text-decoration: none;
  }
}


.section-nav {
  background-color: $secondary; // Fallback
  background-position: bottom !important;
  background-size: cover;
  color: $white;
  flex-basis: 1;
  margin: 10px;
  min-width: 45%;
  width: 45%;

  &:hover {
    border-color: $primary;
    & .section-nav-title, & .section-nav-subtitle {
      background-color: rgba($primary,.9);
    }
    & .section-nav-subtitle {
      opacity: 0;
    }
  }
}

.section-nav-title, .section-nav-subtitle {
  background-color: $dark-overlay;
  color: $white;
  display:block;
  font-size: 1.2em;
  margin: 0 20px 20px 20px;
  padding: 10px;
}

.section-nav-title {
  font-family: 'Cutive', serif;
  font-size: 1.4em;
  margin-bottom: 0;
}

.section-nav-subtitle {
  margin-bottom: 40px;
}

// Background photo setting: move these into 
// their own files once they are all set?

// Default images, alternating by nth child

.section-nav:nth-child(1n)  {
  background: url('../images/content/template/nav_backgrounds/default01.jpg');
}

.section-nav:nth-child(2n) {
  background: url('../images/content/template/nav_backgrounds/default02.jpg');
}

.section-nav:nth-child(3n) {
  background: url('../images/content/template/nav_backgrounds/default04.jpg');
}

.section-nav:nth-child(4n) {
  background: url('../images/content/template/nav_backgrounds/default03.jpg');
}

// Sights & Sounds

.section-nav.section-nav-multimedia-footage {
  background: url('../images/content/template/nav_backgrounds/footage.jpg');
}
.section-nav.section-nav-multimedia-audio {
  background: url('../images/content/template/nav_backgrounds/audio.jpg');
}
.section-nav.section-nav-multimedia-images {
  background: url('../images/content/template/nav_backgrounds/images.jpg');
}
.section-nav.section-nav-multimedia-documents {
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),
    url('../images/content/template/nav_backgrounds/default02.jpg');
}

// Sights & Sounds > Audio

.section-nav.section-nav-multimedia-on-parade {
  background: url('../images/content/template/nav_backgrounds/onparade.jpg');
}
.section-nav.section-nav-multimedia-marches {}

// Sights & Sounds > Images

.section-nav.section-nav-multimedia-group {
  background: url('../images/content/template/nav_backgrounds/group.jpg');
}
.section-nav.section-nav-multimedia-people {
  background: url('../images/content/template/nav_backgrounds/people.jpg');
}
.section-nav.section-nav-multimedia-sky {
  background: url('../images/content/template/nav_backgrounds/aerial.jpg');
}
.section-nav.section-nav-multimedia-parade {
  background: url('../images/content/template/nav_backgrounds/parade.jpg');
}

// Stories

.section-nav.section-nav-stories-march {}
.section-nav.section-nav-stories-military {}
.section-nav.section-nav-stories-lentz {
  background-color: #1d1d1d !important;
  background: url('../images/content/template/nav_backgrounds/lentz.jpg');
  background-repeat: no-repeat;
  background-size: contain !important;
}
.section-nav.section-nav-stories-johnson {
  background: url('../images/content/template/nav_backgrounds/johnson.jpg');
  background-color: #251f1d !important;
  background-repeat: no-repeat;
  background-size: contain !important; /* also not sure why important here? */
}

// Header sizes for smaller screens

@media only screen and (max-width: 830px) {
  h1 .navbar-brand {
    font-size: 1em; 
  }
  .index h1 .navbar-brand {
    font-size: 1.2em; 
  }   
}

@media only screen and (max-width: 400px) {
  h1 .navbar-brand {
    font-size: .8em; 
  }
  .index h1 .navbar-brand {
    font-size: .8em; 
  } 
}

// Grid items

a.flex-item {
  text-decoration: none;
  h3 {
    color: #000;
  }
  p  {
    margin: 0 0 .5em 0;
    padding: 0;
  }
  &:hover p {
    text-decoration: underline;
  }
  img {
    border: solid 2px #000000;
    display: block; 
    margin-bottom: .5em;
  }
  &:hover img {
    border-color: $primary;
  }
}
