$primary-color: #d20000;
$secondary-color: #f1f1f1;
$accent-color: #cacaca;

/* in case you want corn colors */
/*$primary-color: #878b97;
$secondary-color: #cacaca;
$accent-color: #a2b58f;*/
/* corn yellow */
/*$accent-color: #e1d06c;*/
$text-color: black;

/* ****************** */
/* General Appearance */
/* ****************** */

/* TODO get header to have same border-radius as footer */

body {
  background-color: $secondary-color !important;
}

.navbar {
  background-color: $primary-color;
}

.navbar-default .navbar-nav > li > a {
  color: $secondary-color;
}

.footer {
  background-color: $primary-color;
  border-radius: 4px;
  color: $secondary-color;
  padding: 15px;

  a {
    color: $accent-color;
  }
}

#site_title {
  color: $accent-color;
}

#site_title:hover {
  color: $text-color;
}

.logo_container > img {
  width: 50px;
}

/* ******* */
/* Footage */
/* ******* */

.thumbnail {
  width: 150px;
  height: auto;
}

.videos-container {
  display: flex;
  flex-wrap: wrap;
}

.video {
  padding: 1em;
  flex-basis: 50px;
  flex-grow: 1;
}

/* ****** */
/* Topics */
/* ****** */

.topics-container {
  display: flex;
  flex-wrap: wrap;
}

.topic {
  border: 1px solid $accent-color;
  border-radius: 4px;
  padding: 1em;
  flex-basis: 200px;
  flex-grow: 1;
}
