---
title: Audio | Band History
---

<h2>Audio</h2>

<p>TODO ask Karin if there is a better way to handle nested navigation like this...maybe the multimedia page should have nested stuff that jumped people past this page most of the time?</p>

<div class="section-nav-container">

  <% link_to "/multimedia/audio/on-parade.html", class: "section-nav section-nav-multimedia section-nav-multimedia-on-parade" do %>
    <div class="section-nav-title">On Parade</div>
    <div class="section-nav-subtitle">Earliest known record released by the band</div>
  <% end %>

</div>

<h3>More Audio</h3>

<div class="section-nav-container">
  <% link_to "/stories/marches.html", class: "section-nav section-nav-multimedia section-nav-multimedia-marches" do %>
    <div class="section-nav-title">Marches and Songs of the Cornhuskers</div>
    <div class="section-nav-subtitle">The 125th anniversary of the band was marked by a concert and history of the band's music</div>
  <% end %>
</div>
