---
title: Audio | Band History
---

<h2>Audio</h2>

<p class="lead">Photos of a marching band can only communicate so much about an ensemble, but the music is what sets a band apart from other groups. "On Parade" is remarkable not only because it hails from the mid-20th century, but it also features multiple songs where the band members sang as well as played. The transcript of the 125th anniversary concert provides background for the development of fight songs and notable music of the band for those interested in learning more about their favorite tunes.</p>

<div class="section-nav-container">

  <% link_to "/multimedia/audio/on-parade.html", class: "section-nav section-nav-multimedia section-nav-multimedia-on-parade" do %>
    <div class="section-nav-title">On Parade</div>
    <div class="section-nav-subtitle">Earliest known record released by the band</div>
  <% end %>

  <% link_to "/stories/marches.html", class: "section-nav section-nav-multimedia section-nav-multimedia-marches" do %>
    <div class="section-nav-title">Marches and Songs of the Cornhuskers</div>
    <div class="section-nav-subtitle">The 125th anniversary of the band was marked by a concert and history of the band's music</div>
  <% end %>
</div>
