---
title: Images | Band History
---

<h2>Images</h2>

<div class="section-nav-container">

  <% link_to "documents/", class: "section-nav section-nav-multimedia section-nav-multimedia-documents" do %>
    <div class="section-nav-title">Documents</div>
    <div class="section-nav-subtitle">Correspondence, drill charts, and music</div>
  <% end %>

  <% link_to "group/", class: "section-nav section-nav-multimedia section-nav-multimedia-group" do %>
    <div class="section-nav-title">Group Photos</div>
    <div class="section-nav-subtitle">Ensemble photos show the growth of the band over the decades</div>
  <% end %>

  <% link_to "people/", class: "section-nav section-nav-multimedia section-nav-multimedia-people" do %>
    <div class="section-nav-title">People</div>
    <div class="section-nav-subtitle">Directors, closeups, and more!</div>
  <% end %>

  <% link_to "aerial/", class: "section-nav section-nav-multimedia section-nav-multimedia-sky" do %>
    <div class="section-nav-title">The Band from Above</div>
    <div class="section-nav-subtitle">Aerial views of the band on the field</div>
  <% end %>

  <% link_to "parade/", class: "section-nav section-nav-multimedia section-nav-multimedia-parade" do %>
    <div class="section-nav-title">Parade Grounds</div>
    <div class="section-nav-subtitle">The marching band on the move in parades and drill exhibitions</div>
  <% end %>



</div>
