
<p class="logo_container">
	<img src="images/UNL_logo.png"><br/>
	Support provided by <a href="https://cdrh.unl.edu/">Center for Digital Research in the Humanities</a> and the <a href="https://www.unl.edu/">University of Nebraska-Lincoln</a><br/>
</p>
