<div class="timeline-article">
  <div class="meta-date">
    <span class="date">1974</span>
  </div>
  <% partial "partials/timeline_element", locals: {
    direction: direction,
    title: "Trip to Europe",
    id: "europe",
    image: "130833-00013.jpg",
    image_caption: "Uncaptioned slide from 1974 trip to Europe",
    image_attr: "University of Nebraska Archives and Special Collections
      <br/>Jack Snider Band Papers, RG130833" } do %>
    <p>TODO write this content</p>

    <div class="resources">
      TODO
    </div>
  <% end %>
</div>
