<div class="timeline-article">
  <div class="meta-date">
    <span class="date">2008</span>
  </div>
  <% partial "partials/timeline_element", locals: {
    direction: "left",
    title: "Band Trailer Purchased",
    id: "trailer", } do %>
    <p>
      After years of away trips accompanied by multiple trucks to transport all of the band's equipment and instruments, the band purchased a trailer capable of carrying everything. With a beautiful exterior, the trailer also serves as an advertisement. Doug Bush, Assistant Director of Bands, remarked "It really serves a dual purpose, we haul our equipment inside, but the outside is a 'billboard' for the UNL Band Program." In 2016, the trailer was updated with a new exterior.
    </p>

    <div class="resources">
      Source
      <ul>
        <li>Reetz, Brian G. <a href="https://arts.unl.edu/hlfpa/news/its-wrap-new-cornhusker-marching-band-trailer">"It's a Wrap on a New Cornhusker Marching Band Trailer."</a> <em>Hixson-Lied College of Fine and Performing Arts</em>, August 19, 2016.
      </ul>
    </div>
  <% end %>
</div>
