<div class="timeline-article">
  <div class="meta-date">
    <span class="date">1972</span>
  </div>
  <% partial "timeline/element", locals: {
    direction: direction,
    title: "Women Join the Band",
    id: "women",
    image: nil,
    image_caption: "",
    image_attr: "" } do %>

    <p>Excluding twirlers, besides during WWII women had not been welcome in the marching band, despite the involvement of "co-eds" in concert bands. By the 1970s, women were pressuring the band program to allow them to join, threatening to lodge a discrimination complaint with the Faculty Senate Women's Rights Committee. Director Snider resisted, claiming a variety of reasons why the ensemble should remain all-male, including uniform sizing, physical demands, and increased expenses. Toni Hillard, a member of the NU Women's Action Group, rejected those excuses in a <em>Daily Nebraskan</em> article: "Was he [Snider] watching at Band Day as both women and men from all over the state marched together?" By 1971, the band agreed to open its ranks to women, but it was not until 1972 that five women were successful in the audition process.</p>

    <div class="resources">
      Sources and Further Reading
      <ul>
        <li><a target="_blank" rel="nofollow noopener" href="https://nebnewspapers.unl.edu/lccn/sn96080312/1970-11-09/ed-1/seq-1/">"Women Band Against Band,"</a> <em>The Daily Nebraskan</em>, November 9, 1970.</li>

        <li><a target="_blank" rel="nofollow noopener" href="https://nebnewspapers.unl.edu/lccn/sn96080312/1971-05-12/ed-1/seq-1/">"Women's Rights Committee Finds 'Sexual Caste System,' "</a> <em>The Daily Nebraskan</em>, May 12, 1971.</li>

        <li>Fairley, Debbie. <a target="_blank" rel="nofollow noopener" href="https://nebnewspapers.unl.edu/lccn/sn96080312/1972-09-07/ed-1/seq-2/">"All-male Band at UNL -- A Thing of the Past,"</a> <em>The Daily Nebraskan</em>, September 7, 1972.</li>
        <li>TODO look into those clippings in Snider's scrapbook which collected state-wide articles from women's hometowns / Lincoln papers, etc</li>
      </ul>
    </div>
  <% end %>
</div>
