<div class="timeline-article">
  <div class="meta-date">
    <span class="date">1975</span>
  </div>
  <% partial "timeline/element", locals: {
    direction: direction,
    title: "Creation of Flag Corps, First Woman Drum Major",
    id: "flags",
    image: nil,
    image_caption: "",
    image_attr: "" } do %>

    <p>TODO maybe separate these into two separate items? Or include one with Fought possible item?</p>

    <p>In 1975, the band got a new director in Dr. Robert Fought, who had big plans for his first year. He added 39 personnel to the band's membership, half of whom were members of a brand new flag corps. Dubbed "the ladies in red," the new group carried red and white banners which band staff member Rose Johnson recalls had 8 foot poles. Prior to the flag corps, the band had partnered for performances with The Huskerettes, a dance team who incorporated flags into their routines. 1975 was also the first year that the band had a female drum major, TODO look in Gary's book because I don't know if that is documented anywhere else obvious besides his list of drum majors in the back?</p>

    <div class="resources">
      Sources and Further Reading
      <ul>
        <li>Bohling, Martha. <a href="https://nebnewspapers.unl.edu/lccn/sn96080312/1975-03-17/ed-1/seq-9/">"New Marching Band Director Plans Flag Corps"</a>, <em>The Daily Nebraskan</em>, March 17, 1975.</li>

        <li>Beck, Chuck. <a href="https://nebnewspapers.unl.edu/lccn/sn96080312/1975-09-12/ed-1/seq-14/">"Band Given Additional Seats,"</a> <em>The Daily Nebraskan</em>, September 12, 1975.</li>

        <li>Reitz, Susan. <a href="https://nebnewspapers.unl.edu/lccn/sn96080312/1975-10-25/ed-1/seq-3/">"'The Ladies' Chill for Halftime,"</a> <em>The Daily Nebraskan</em>, October 25, 1975.</li>

        <li>Whitford, Nancy. <a href="https://nebnewspapers.unl.edu/lccn/sn96080312/1961-10-24/ed-1/seq-1/">"Go Wave Your Flag, Provided It's Not Red,"</a> <em>The Daily Nebraskan</em>, October 24, 1961.</li>

        <li><%= link_to "Read Rose Johnson's memories of her sister's time in the flag corps", "stories/johnson-interview.html#family" %></li>

        TODO put in Gary Steffens reference for first female drum major.

      </ul>
    </div>
  <% end %>
</div>
