---
title: About | Band History
---

<h2>About</h2>

<p>This project was developed as a partnership between UNL Archives and Special Collections and the Cornhusker Marching Band with the support of the Center for Digital Research in the Humanities. This website was created not as an all encompassing or ongoing history of the band, but as a snapshot in time of band materials in the UNL Archives and Special Collections.</p>

<h3>Project Staff</h3>
<ul>
  <li>
    <h4 class="about_staff">Jessica Dussault</h4>
    <div class="aboout_project_role">
      Principal Investigator and Developer
    </div>
    <div class="about_position">
      Programmer / Analyst,
      Center for Digital Research in the Humanities
    </div>
    <div class="about_dept">University Libraries</div>
  </li>

  <li>
    <h4 class="about_staff">Anthony Falcone</h4>
    <div class="aboout_project_role">Title?</div>
    <div class="about_position">
      Senior Lecturer, Associate Director of Bands,
      Cornhusker Marching Band Director
    </div>
    <div class="about_dept">Glenn Korff School of Music</div>
  </li>

  <li>
    <h4 class="about_staff">Karin Dalziel</h4>
    <div class="aboout_project_role">Designer</div>
    <div class="about_position">
      Digital Development Manager & Designer,
      Center for Digital Research in the Humanities
    </div>
    <div class="about_dept">University Libraries</div>
  </li>

  <li>
    <h4 class="about_staff">Katie Jones</h4>
    <div class="aboout_project_role">
      Digitization and Metadata Extraordinaire
    </div>
    <div class="about_position">
      Agricultural Archives Specialist
    </div>
    <div class="about_dept">University Libraries</div>
  </li>

</ul>

<h3>Website Acknowledgements</h3>

<p>This website would not have been possible without the support of <strong>Katherine Walter</strong>, Co-Director of the Center for Digital Research in the Humanities (CDRH), who invested Center funding, resources, and staff time into the project; <strong>Rose Johnson</strong> of the UNL Band who shared a wealth of photos, time, and memories; <strong>Traci Robison</strong>, UNL Outreach Archivist, who readily made available hundreds of images from the University Communications collection and tracked down requests for images of early groups on campus; <strong>Blake Graham</strong>, UNL Digital Archivist, who prepared the Johnson interview video for the web and took point on contacting a donor about the use of video on the website; <strong>Josh Caster</strong>, UNL Archives, who knows where everything is and when everything is; <strong>Greg Tunink</strong> of the CDRH, for setting up the domain and being a sounding board for programming ideas; and <strong>Dr. Barber</strong>, UNL Director of Bands, for sharing her experience with the Bands and for providing her advice. And of course, to <strong>Sara Bailey Roberts</strong>, previously of the CDRH, for starting this project with me several years before it became reality.</p>

<h3>Reel Digitization Acknowledgements</h3>

<p>This website was originally envisioned in order to make more widely available footage which was part of the marching band collection in the UNL Archives & Special Collections, gathered and donated by Don Lentz and Gary Steffens. A digitization effort was undertaken in 2016 and 2017 to secure funding to digitize and preserve the reels of footage for future generations.</p>

<p>I'd like to acknowledge all those who worked on that digitization effort. <strong>Sara Bailey Roberts</strong>, who was the co-principal investigator of the project; <strong>Katherine Walter</strong>, Co-Director of the CDRH, who provided funding for the digitization of three reels as a trial run to test their quality; <strong>Gary Steffens</strong>, band alum and previous steward of the reels in the band collection, who financially sponsored their digitization; the <strong>Nebraska Band Alumni Association</strong>, who gave their support and foundation ties to the project; <strong>Dr. Carolyn Barber</strong>, <strong>Tony Falcone</strong>, and the other School of Music staff who enthusiastically supported the project, filled out financial paperwork, and made connections to interested parties; <strong>Blake Graham</strong>, UNL Digital Archivist, who brought his digitization expertise to bear, coordinated with Archives Filmworks, and described and uploaded the footage to the library media collections; <strong>Bill Reece</strong>, University of Nebraska Foundation, who served as a liaison between multiple interested parties; <strong>Josh Caster</strong>, for his archival experience in locating and storing the reels during the process; <strong>History Nebraska</strong>, who learned of the project and transferred relevant film in their archive to UNL Archives & Special Collections for inclusion with the band footage; and <strong>Paul Eisloeffel</strong> with Archives Filmworks, who digitized the footage, repaired the reels, and repackaged them for long-lasting preservation.</p>
