---
title: About | Band History
---

<h2>About</h2>

<p>This project was developed as a partnership between UNL Archives and Special Collections and the Cornhusker Marching Band with the support of the Center for Digital Research in the Humanities.</p>

<h3>Project Staff</h3>
<ul>
  <li>
    <h4>Jessica Dussault</h4>
    Principal Investigator and Developer
    <br/>
    Programmer / Analyst, Center for Digital Research in the Humanities
    <br/>
    University Libraries
  </li>

  <li>
    <h4>Anthony Falcone</h4>
    Title?
    <br/>
    Senior Lecturer, Associate Director of Bands, Cornhusker Marching Band Director
    <br/>
    Glenn Korff School of Music
  </li>

  <li>
    <h4>Karin Dalziel</h4>
    Designer
    <br/>
    Digital Development Manager & Designer, Center for Digital Research in the Humanities
    <br/>
    University Libraries
  </li>

  <li>
    <h4>Katie Jones</h4>
    Title?
    <br/>
    Agricultural Archives Specialist
    <br/>
    University Libraries
  </li>

</ul>

<h3>Website Acknowledgements</h3>

Traci Robison, Josh Caster, Greg Tunink, Kay Walter, Rose Johnson, Dr. Barber, Blake Graham

<h3>Reel Digitization Acknowledgements</h3>

<p>Need to acknowledge the following, possibly in paragraph format to explain contributions:</p>
<ul>
  <li>Dr. Carolyn Barber</li>
  <li>Gary Steffens</li>
  <li>Sarah Bailey Roberts, co-PI of digitization project</li>
  <li>Josh Caster</li>
  <li>Blake Graham</li>
  <li>History Nebraska</li>
  <li>Paul Eisloeffel & Archives Filmworks</li>
  <li>Nebraska Band Alumni Association</li>
  <li>Katherine Walter</li>
</ul>
