---
title: About | Band History
---

<h2>About</h2>

<p>This project was developed as a partnership between the X, Y, and Z.</p>

<h3>Project Staff</h3>
<ul>
  <li>Jessica Dussault, Co-Principal Investigator & Developer, CDRH</li>
  <li>Anthony Falcone, Co-Principal Investigator, CMB & Glenn Korff School of Music</li>
  <li>Karin Dalziel, Digital Development Manager & Designer, CDRH</li>
</ul>


<h3>Reel Digitization Acknowledgements</h3>

<p>Need to acknowledge the following, possibly in paragraph format to explain contributions:</p>
<ul>
  <li>Dr. Carolyn Barber</li>
  <li>Gary Steffens</li>
  <li>Sarah Bailey Roberts, co-PI of digitization project</li>
  <li>Josh Caster</li>
  <li>Blake Graham</li>
  <li>History Nebraska</li>
  <li>Paul Eisloeffel & Archives Filmworks</li>
  <li>Nebraska Band Alumni Association</li>
  <li>Katherine Walter</li>
</ul>

