---
title: Band History
---

<h2>Cornhusker Marching Band History</h2>
<p>Introduction to the band history website</p>
<p>Fortunately, Karin the professional designer is going to make all of this look really good someday, but for now I'm not worrying too much about the looks!</p>

<%= image_tag "images/logo_light.png", width: "200" %>
<%= image_tag "images/logo_dark.png", width: "200" %>

<p>Loose sitemap for design purposes</p>

<ul>
  <li>Home</li>
  <li>Sights & Sounds</li>
  <ul>
    <li>Landing</li>
    <li>Footage [help needed]</li>
    <li>Audio</li>
    <ul>
      <li>(link to stories feature)
      <li>On Parade [help needed]</li>
    </ul>
    <li>Images [help needed all sections]</li>
    <ul>
      <li>Field</li>
      <li>People and Events</li>
      <li>Parades</li>
      <li>Documents</li>
    </ul>
  </ul>
  <li>Timeline [critical eye needed]</li>
  <li>Stories</li>
  <ul>
    <li>Marches</li>
    <li>Lentz Interview [help needed]</li>
    <li>Johnson Interview</li>
    <li>Military</li>
    <li>Women in Band</li>
    <li>Making the Collection</li>
  </ul>
  <li>About</li>
</ul>