---
title: Band History
---

<!-- <h2>Cornhusker Marching Band History</h2> -->
<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt elit id purus porta, eu dapibus sapien interdum. Nunc mauris leo, tristique ac porttitor nec, sagittis sit amet dui. Sed convallis, elit et pellentesque accumsan, lectus orci varius magna, vel facilisis quam orci at quam. </p>

</div><!-- /container for full width callout -->

<div class="home_callout_1 home_callout">
  <div class="container">
    <div class="callout_inner">
      <p class="call_text">The Cadet Band<br/> set all a roaring</p>
      <p>"I love the work no matter how they play. I'll direct them until I die."<br/>- Billy Quick</p>
    </div>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-md-8">
      <p class="lead">To learn about the history of the Cornhusker Marching Band is to learn about the history of Nebraska, of the University of Nebraska, the music department, and the many people who contributed to its evolution. From its creation in 1879 as The Cadet Band to the modern day "Pride of All Nebraska," the marching band has blah blah blah blah blah blah blah something more here This site seeks to tell the stories of the band and of the people blah blah</p>
    </div>
    <div class="col-md-4">
      <%= image_tag "images/content/template/421201-01543.jpg" %>
    </div>
</div>
