---
title: Band History
---

<h1>Cornhusker Marching Band History</h1>
<p>Introduction to the band history website</p>
<p>Fortunately, Karin the professional designer is going to make all of this look really good someday, but for now I'm not worrying too much about the looks!</p>

<%= image_tag "images/logo_light.png", width: "200" %>
<%= image_tag "images/logo_dark.png", width: "200" %>

