---
title: Band History
---

<p class="lead">Home Page!</p>

<p>Probably some explanatory text and possibly guidance to points of interest duplicating navigation</p>

<p>Some ideas of design:</p>
<ul>
  <li><a href="https://lewisandclarkjournals.unl.edu/">Lewis and Clark (mostly color and pattern driven)</a></li>
  <li><a href="http://hopewell.unl.edu/">Hopewell (single image and color)</a></li>
  <li><a href="https://salmonpueblo.org/">Salmon Pueblo (large images, note change in header on non-home pages, navigation images and effect)</a></li>
</ul>
