---
title: Band History
---

<h1>Cornhusker Marching Band History</h1>
<p>Introduction to the band history website</p>
<p>Don't worry, a professional designer is going to make this all look really good</p>

<%= image_tag "images/logo_light.png", width: "200" %>
<%= image_tag "images/logo_dark.png", width: "200" %>

