---
title: Stories | Band History
---

<h2>Stories</h2>

<div class="section-nav-container">

  <% link_to "/stories/marches.html", class: "section-nav section-nav-stories section-nav-stories-march" do %>
    <div class="section-nav-title">
      "Marches and Songs of the Cornhuskers"
    </div>
    <div class="section-nav-subtitle">
      125th Anniversary Concert, April 23, 2005
    </div>
  <% end %>

  <% link_to "/stories/military.html", class: "section-nav section-nav-stories section-nav-stories-military" do %>
    <div class="section-nav-title">
      The Cadet Band (in progress)
    </div>
    <div class="section-nav-subtitle">
      The Military Origin of the University Band
    </div>
  <% end %>

  <% link_to "/stories/lentz-interview.html", class: "section-nav section-nav-stories section-nav-stories-lentz" do %>
    <div class="section-nav-title">
      1974 Don Lentz Interview
    </div>
    <div class="section-nav-subtitle">
      Transcript of a Conversation with George Round
    </div>
  <% end %>

</div>

