---
title: Stories | Band History
---
<%= stylesheet_link_tag "stories" %>

<h2>Stories</h2>

<div class="story-nav-container">

  <% link_to "stories/marches", class: "story-nav story-nav-march" do %>
    <div class="story-nav-title">
      "Marches and Songs of the Cornhuskers"
    </div>
    <div class="story-nav-subtitle">
      125th Anniversary Concert, April 23, 2005
    </div>
  <% end %>

  <% link_to "stories/military", class: "story-nav story-nav-military" do %>
    <div class="story-nav-title">
      The Cadet Band
    </div>
    <div class="story-nav-subtitle">
      The Military Origin of the University Band
    </div>
  <% end %>

  <% link_to "stories/lentz-interview", class: "story-nav story-nav-lentz" do %>
    <div class="story-nav-title">
      1974 Don Lentz Interview
    </div>
    <div class="story-nav-subtitle">
      Transcript of a Conversation with George Round
    </div>
  <% end %>

</div>

