---
title: Stories | Band History
---

<h2>Stories</h2>

<p>Links to more content like essays (by us), interviews of former band members, etc.  I think that the timeline page can serve as a basic introduction to overall band history, but then if we want to go in depth in some areas, I think this would be a good place.  We could invite people like Dr. Barber, Bob Snider, etc, to contribute sections, potentially.  Some ideas include:</p>

<ul style="list-style-type:none">
  <li>
    <h4>Band Songs</h4>
    <p>Falcone could use previously prepared speech and audio clips</p>
  </li>
  <li>
    <h4>Band Day</h4>
    <p>Falcone or Jessica, possibly guest author from NSBA?</p>
  </li>
  <li>
    <h4>Uniforms Through Time</h4>
    <p>Falcone or somebody from Archives (possibly joint venture)?  I think it would be cool to at least have a photo gallery of all the iterations of band uniforms we can document, starting from the cadets and going to the present!</p>
  </li>
  <li>
    <h4>Women in Band / Interview 1940s Vet</h4>
    <p>Jessica or Falcone?</p>
  </li>
  <li>
    <h4>The Rose Bowl</h4>
    <p>Possibly ask Gary if he would like to contribute this, republish his book chapter here, or interview a few people who are alive or whose parents were in this group?</p>
  </li>
  <li>
    <h4>Jack Snider's Legacy</h4>
    <p>Guest writer Bob Snider, if interested, or maybe we interview him?</p>
  </li>
  <li>
    <h4>Origin and Military History</h4>
    <p>Jessica and Josh Caster?  I don't think this would need to be particularly long or in depth, but it wouldn't be hard to put together at least a few sentences and some photos, etc</p>
  </li>
</ul>

<p></p>
