---
title: Timeline | Band History
---
<%= stylesheet_link_tag "timeline" %>

<h2>Timeline</h2>

<div class="container">
    <!-- Vertical Timeline -->
  <section id="band-timeline">
    <div class="timeline-start">
      1869<br/>
      University founded
    </div>
    <div class="band-center-line"></div>
    <div class="band-timeline-content">

      <%= partial "partials/timeline/1876" %>
      <%= partial "partials/timeline/1879" %>
      <%= partial "partials/timeline/1882" %>
    </div>
    <div class="timeline-end">2019</div>
  </section>
  <!-- // Vertical Timeline -->
</div>
