---
title: Timeline | Band History
---

<h2>Timeline</h2>

<p>Maybe a timeline?  Here's an example of a knightslab timeline if we want something with a lot of images, audio, and video: <a href="https://n150.unl.edu/timeline">https://n150.unl.edu/timeline</a></p>

<p>If we want to keep things in this view pretty brief and get into the details in essays, then I recommend we just do a pretty basic CSS timeline or something with a dozen or two events on it with small or no images:  <a href="https://codepen.io/mathiesjanssen/pen/ggeBKm">Random example</a></p>