---
title: Timeline | Band History
---
<%= stylesheet_link_tag "simpleLightbox.min" %>
<%= javascript_include_tag "simpleLightbox.min" %>
<%= stylesheet_link_tag "timeline" %>

<h2>Timeline</h2>
</div><!-- /container -->
<div class="container-fluid">
    <!-- Vertical Timeline -->
  <section id="band-timeline">
    <div class="timeline-start">
      1869<br/>
      University founded
    </div>
    <div class="band-center-line"></div>
    <div class="band-timeline-content">

      <% years = %w[
        1876
        1879
        1882
        1898
        1918
        1932
        1943
        1974
        1979
        1993
        1996
        2008
      ] %>

      <% years.each_with_index do |year, index| %>
        <% direction = index%2 == 0 ? "left" : "right" %>
        <%= partial "timeline/#{year}", locals: { direction: direction } %>
      <% end %>

    </div>
    <div class="timeline-end">2019</div>
  </section>
  <!-- // Vertical Timeline -->
</div>
<div class="container">

<!-- TODO make a new home for this -->
<!-- NOTE images are 300 and 800 -->
<script>
  new SimpleLightbox({elements: '.band-timeline-content .gallery'});
</script>
