---
title: Timeline | Band History
---

<h2>Timeline</h2>

<p>TODO more items we could add</p>
<ul>
  <li>1876 Military department formed, Dudley arrives to teach drill</li>
  <li>1879 band formed, uniforms offered for members</li>
  <li>1882 accompany baseball game, athletic department formed</li>
  <li>1900 band asked to play at all football games, stadium gets permanent seats</li>
  <li>1903 band goes to MN on a trip, boycotts football games over money</li>
  <li>1917 Billy Quick becomes band director</li>
  <li>1936 cool new uniforms after West Point Trip pointed out drab outfits</li>
  <li>1942 symphonic band</li>
  <li>1955 band no longer part of military dept</li>
  <li>Any number of away games / bowl trips / etc which might be noteworthy</li>
</ul>

<p>We could also potentially add non-band related university or Nebraska events, possibly along the left side or something, to give some idea of what context some of these events might have been part of.

<%= stylesheet_link_tag "timeline" %>

<div class="container">
    <!-- Vertical Timeline -->
  <section id="band-timeline">
    <div class="timeline-start">
      1869<br/>
      University founded
    </div>
    <div class="band-center-line"></div>
    <div class="band-timeline-content">
      <!-- Article -->
      <div class="timeline-article">
        <div class="meta-date">
          <span class="date">1882</span>
        </div>
        <div class="content-left-container">
          <div class="content-left todo-cite">
            <h3>Roscoe Pound Serves as Drum Major</h3>
            <p>The first unofficial mascot of the band was neither a student, nor a musician</p>
            <a data-toggle="collapse" href="#roscoePound" role="button"
               aria-expanded="false" aria-controls="roscoePound">
                Learn More
            </a>
            <div class="collapse" id="roscoePound">
              <div class="card card-body">
                One of the more famous members of the Cadet Band during its early days was Nathan Roscoe Pound, who became the Dean of the Nebraska Law School and later Dean of Harvard Law School. Although Pound could not play a musical instrument, he served as the band's Drum Major beginning in 1882 when he was a student at the University's prep school. He continued in that capacity until his graduation from the University in 1888.
                <p>TODO photo of Pound</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- // Article -->

      <!-- Article -->
      <div class="timeline-article">
        <div class="meta-date">
          <span class="date">1893</span>
        </div>
        <div class="content-right-container">
          <div class="content-right todo-cite">
            <h3>Band plays first football "halftime" show</h3>
            <p>Though the band had been accompanying football games since 1880, it took John J. Pershing's influence to create the first halftime show.</p>
            <a data-toggle="collapse" href="#pershing" role="button"
               aria-expanded="false" aria-controls="pershing">
                Learn More
            </a>
            <div class="collapse" id="pershing">
              <div class="card card-body">
                <p>In the 1880's the University did not have an athletic department, so the band's association with sports began with an informal University baseball team. Providing entertainment at these games was the band's only contact with athletics until Roscoe Pound began to campaign for a football program at the University. With the help of drummer Albert Troyer, a team was organized and on Thanksgiving Day, 1880, the first official Nebraska football game was played against a team from the Omaha Y.M.C.A., with the band providing musical entertainment from the sidelines. The idea of halftime shows did not evolve until later.</p>

                <p>Lt. John J. Pershing came to the University as military commander in 1891 and helped to change the destiny of the Nebraska band. Before Lt. Pershing came on the scene, the band stood in formation and played while the cadets marched. However, Pershing required the band to march as well as play during military drill. The cadets and band won several honors for their precision and began to draw large crowds at their weekly reviews. Pershing was a sports fan and suggested that the cadets and band put on a review during a football game. This first "halftime" show was performed in November of 1893 and became an annual event. John J. “Black Jack” Pershing went on to become General of the Armies of the United States and the overall American Commander in Europe during World War I.</p>
                <p>TODO photo of pershing</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- // Article -->

      <!-- Article -->
      <div class="timeline-article">
        <div class="meta-date">
          <span class="date">1904</span>
        </div>
        <div class="content-left-container">
          <div class="content-left todo-cite">
            <h3>Band Performs at St. Louis World's Fair</h3>
            <a data-toggle="collapse" href="#worldFair" role="button"
               aria-expanded="false" aria-controls="worldFair">
                Learn More
            </a>
            <div class="collapse" id="worldFair">
              <div class="card card-body">
                <p>In 1904 the band took on the ambitious undertaking of a trip to the Louisiana Purchase Centennial Exposition, more familiarly known as the St. Louis World's Fair. About one hundred cadets from the University in addition to the forty-member Band made the two week jaunt in June. All expenses were paid by the Exposition which had invited military organizations and bands from all over the country to attend. Reports from observers indicated that, while there were better military units present, "no other musical organization equaled the performances of the Cadet Band from Nebraska."</p>
                <p>TODO photo of world's fair</p>
              </div>
            </div>
          </div>
        </div>
        <!-- TODO example of how to set right for same year-->
        <!-- <div class="content-right-container">
          <div class="content-right todo-cite">
            <h3>When I orbited the Earth in a spaceship, I saw for the first time how beautiful our planet is.</h3>
          </div>
        </div> -->
      </div>
      <!-- // Article -->

            <!-- Article -->
      <div class="timeline-article">
        <div class="meta-date">
          <span class="date">1923</span>
        </div>
        <div class="content-right-container">
          <div class="content-right todo-cite">
            <h3>"Dear Old Nebraska U"</h3>
            <p>A piece inspired by the U of Chicago became one of the band's greatest hits, and was involved in a decision the university would come to regret for decades.</p>
            <a data-toggle="collapse" href="#nebraskaU" role="button"
               aria-expanded="false" aria-controls="nebraskaU">
                Learn More
            </a>
            <div class="collapse" id="nebraskaU">
              <div class="card card-body">
                <p>"Dear Old Nebraska U" was written in 1923 by Harry Pecha ('class of '24.) The story goes that he wrote the song while at an ROTC Camp in Ft. Snelling, MN that summer. There is evidence to suggest however that it's more accurate that Pecha "borrowed" the song from an older tune from the University of Chicago entitled "I'm Strong for Chicago." Similar tunes also exist at the Universities of Florida, Kentucky and Toledo, indicating that the Chicago original was ripe for imitation. Originally in 3/4 time, Band Director Billy Quick arranged "No Place," as it almost immediately became known, in 2/4 to facilitate its use on the march. Sometime after his graduation in 1924, Pecha offered to give "No Place" to the University in return for two lifetime football tickets. But, in one of those fateful decisions of history, the University declined. The decision came from the Board of Intercollegiate Athletics. Board member John K. Selleck remembered it as, "an unfortunate decision…" The University only recently acquired full rights to the piece from the estate of Michael Jackson.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- // Article -->

      <!-- Article -->
      <div class="timeline-article">
        <div class="meta-date">
          <span class="date">1927</span>
        </div>
        <div class="content-left-container">
          <div class="content-left todo-cite">
            <h3>John Philip Sousa visits and composes the University of Nebraska March</h3>
            <p>On November 1, 1927 John Philip Sousa visited Lincoln and presented the Band a Silver Cup for “Distinguished Collegiate Rating” at a concert at the NU Coliseum. At that time the War Department would bestow an award known as the Blue Star Rating to units that rated excellent in their corps area of inspection. The Nebraska ROTC Band won this rating frequently and had scores ranking among the highest in the nation. Sousa had an interest in developing school music programs, and wished to recognize Nebraska’s achievement.</p>

            <p>Three months later, Sousa wrote a march “For the Faculty and Students of the University of Nebraska.” In a letter to Chancellor Burnett, Sousa said of it, “My friends seem to like it very much and I sincerely hope the march will appeal to you and your students and will be worthy of your fine Band which is, without a doubt, one of the finest college Bands in America.”</p>
            <p>TODO photo of Sousa</p>
          </div>
        </div>
      </div>
      <!-- // Article -->

      <!-- Article -->
      <div class="timeline-article">
        <div class="meta-date">
          <span class="date">1932</span>
        </div>
        <div class="content-left-container">
          <div class="content-left todo-cite">
            <h3>Band Day (sort of! we'll want to note multiple dates)</h3>
            <p>The massed band extravaganza known as Band Day had its origins at the University of Nebraska–Lincoln. Beginning in 1932, bands were invited to a parade through downtown Lincoln and to perform prior to the Homecoming football game. 700 musicians attended the event in 1932 and by 1934 it was officially known as Band Day.</p>

            <p>Don Lentz decided to re-format Band Day turning it into both a crowd pleaser that would bring visitors to the stadium and downtown Lincoln businesses and a wonderful recruiting tool for the University. He enlarged the invitation list to include all of Nebraska, not just the immediate area. 17 bands performed on the field in 1939. The show grew every year becoming more and more popular with students and fans alike. Band Day was the only sell-out game of the 1942 season. By 1947 the event was so popular that schools were limited to participation once every three years with a maximum number of musicians set at 3,600.</p>

            <p>Other conference schools soon adopted the idea and in the decade following World War II almost every college and University began to host a Band Day. At Nebraska, Band Day was a memorable event until the demand for season football tickets became so great that it was no longer possible to seat such a large number of visiting musicians. Nebraska's last Band Day was held in 1971.</p>
            <p>TODO photo of band day</p>
          </div>
        </div>
      </div>
      <!-- // Article -->

      <!-- Article -->
      <div class="timeline-article">
        <div class="meta-date">
          <span class="date">1936</span>
        </div>
        <div class="content-left-container">
          <div class="content-left todo-cite">
            <h3>"Hail Varsity"</h3>
            <p>"Hail Varsity," the official fight song for all Nebraska athletic teams, was written in 1936 by Wilber Chenoweth with words by W. Joyce Ayres. Chenoweth, a former piano and organ instructor in the School of Music, recalls the events leading to its composition:</p>

            <p>"In the early 1930s my good friend Dr. Harry Everett, a great Cornhusker fan, commissioned me to compose a new song for the University with spirit and marching capabilities. This I did during one of my semester breaks in California. As a matter of fact, I scored the song on the train returning to Lincoln. After arriving, I showed the manuscript to Joyce Ayres and suggested he write the lyrics for it."</p>

            <p>Ayres, who had several songs to his credit continues:</p>

            <p>"We worked many evenings on it, and finally satisfied ourselves to the point where we felt we could present it to the group who commissioned it. I don't know what Wilbur was paid for his efforts, but he paid me the handsome sum of five dollars for my contribution."</p>

            <p>The song was accepted and then almost forgotten, being played only sparingly for the next twelve or thirteen years.</p>
            <p>TODO photo of hail varsity album</p>
          </div>
        </div>
      </div>
      <!-- // Article -->

      <!-- Article -->
      <div class="timeline-article">
        <div class="meta-date">
          <span class="date">1941</span>
        </div>
        <div class="content-left-container">
          <div class="content-left todo-cite">
            <h3>First bowl game (The Rose Bowl) and "Band Song"</h3>
            <p>In November of 1940, the Cornhusker football team defeated Kansas State to win the Big Six title. Subsequently, after Texas defeated top contender Texas A&M, they received their first ever bowl game invitation to face Stanford in the 1941 Rose Bowl. After an outpouring of public support, the Chancellor advised the Athletic Board to include the Band on the trip. The event proved historic to the Band for another reason. Director Don Lentz recalled:</p>

            <p>"The day we got on the train in Lincoln I was told that the American Society of Composers, Arrangers and Performers (ASCAP) had barred all of their music from radio broadcast. This came about because of a contractual dispute and was due to go into effect on January 1. Since both the parade and the game were to be broadcast, and every one of our scheduled pieces was ASCAP, we couldn't use them. We had one other piece to use in the parade, and that was the "Band Song." The melody was from the "Song of the Vagabonds" from the operetta, "The Vagabond King" by Rudolf Friml. That was public domain so we could safely use it. There were several of the bandsmen who helped adopt the words to it on the way out on the train. Because of the ban, the tournament people felt that ASCAP would make an example of anyone they caught playing their music, so I warned the men about that. I warned them particularly not to play "No Place." When we went by the main reviewing stand, which was the most taboo place of all, somebody gave the sign and they broke into "No Place" and really blasted the daylights out of it. It was planned beautifully, and they were all in on it. When they came in it was a big solid blast. It must have gone all over the world. It scared me to death and the first thing after we got back, Regent Thompson called and asked, "Didn't the Band play 'No Place?'" I said, "Yes, but not intentionally."</p>
            <!-- TODO cite that!!! -->
            <!-- TODO photo of Rose Bowl marching -->
          </div>
        </div>
      </div>
      <!-- // Article -->

      <!-- Article -->
      <div class="timeline-article">
        <div class="meta-date">
          <span class="date">1955</span>
        </div>
        <div class="content-left-container">
          <div class="content-left todo-cite">
            <h3>First Orange Bowl and the adoption of "Hail Varsity" as the official fight song</h3>
            <p>In 1955, the Cornhuskers received their second bowl game invitation, this time facing the Duke Blue Devils in the Orange Bowl in Miami. This would be the first of seventeen appearances by Nebraska in this game. Once again, a bowl game proved historic for the band as well. Joyce Ayres, lyricist of "Hail Varsity," recalls:</p>

            <p>"It was about the time Nebraska played in its first Orange Bowl. Wilber [Chenoweth, composer of "Hail Varsity"] had since moved to California and he wrote me and suggested I do something about dusting off "Hail Varsity" for that bowl trip. I contacted all three major broadcast networks and each of them had a different "official" Nebraska fight song, none of which, to my knowledge, had ever been heard by anybody. For all intents and purposes Nebraska had no official fight song. This came to the attention of the Alumni Association, the Athletic Department and the Board of Regents, and with the consent of these three organizations, "Hail Varsity" was recognized as the Official University of Nebraska Fight Song. We've received all sorts of comments about it from all over the country. I think it's the favorite of the students and that's who it was really written for."</p>

            <p>On the last day in Miami, the Band performed for a luncheon of dignitaries. Famous march composer Henry Fillmore was in attendance. Upon hearing the Band, he turned to Chancellor John K. Selleck and the Regents and said, "This is the greatest sounding band I've ever heard in my life."</p>
            <!-- TODO citation -->
            <!-- TODO photo of Orange Bowl -->
          </div>
        </div>
      </div>
      <!-- // Article -->

      <!-- Article -->
      <div class="timeline-article">
        <div class="meta-date">
          <span class="date">1972</span>
        </div>
        <div class="content-left-container">
          <div class="content-left todo-cite">
            <h3>Women integrated into the marching band program</h3>
            <p>Given its origins as a military organization in the 19th century, women were not a part of bands at UNL for quite some time. It wasn't until 1940, under Director Don Lentz, that women were allowed to play in the Symphonic Band. During World War II they were allowed to march because of the shortage of male musicians. After the war however, the marching band became strictly male again and women were allowed to play only in the concert organizations. Women wouldn't find their way onto the marching field again until 1960, when in his last year as Director of the Cornhusker Band, Don Lentz introduced a group of 16 pompon girls known as the Huskerettes. The group never quite caught on however, and was disbanded after just their second season by first-year Director Jack Snider in 1961. That same year, Jack introduced the Band's first feature twirler, the Golden Girl, Joyce Burns. There would always be a female presence in the band from this time forward.</p>
            <p>A bit more than a decade later, congress enacted the Patsy T. Mink Equal Opportunity in Education Act, better known as Title IX of the Education Amendments of 1972. One affect of this law was to prohibit all-male organizations on college campuses. Subsequently, five women auditioned for and were accepted into the Marching Band in 1972. In 1975, under the Direction of Dr. Robert Fought, the Band saw two more advances for women: the addition of the Flag Corps or Color Guard as it has since become known, and its first woman Drum Major, Diane Miller Frost. In 2001, the School of Music hired its first woman Director of Bands, Dr. Carolyn Barber.</p>
            <!-- TODO link to story about women in band-->
            <!-- TOOD photo -->
          </div>
        </div>
      </div>
      <!-- // Article -->

      <!-- Article -->
      <div class="timeline-article">
        <div class="meta-date">
          <span class="date">1974</span>
        </div>
        <div class="content-left-container">
          <div class="content-left todo-cite">
            <h3>European tour</h3>
            <p>In 1974, Jack Snider took the Marching Band to Europe. They performed in Switzerland, Austria, Germany, the Netherlands, Belgium and England. The concert bands also began to tour throughout the Midwest on a regular basis under his direction. Mr. Snider’s concert ensembles received prestigious performance invitations including the 1983 American Bandmasters Association's annual convention in Kansas City.</p>
            <!-- TODO photo of Diane Tangemann in front of band in Europe -->
          </div>
        </div>
      </div>
      <!-- // Article -->

      <!-- Article -->
      <div class="timeline-article">
        <div class="meta-date">
          <span class="date">1979</span>
        </div>
        <div class="content-left-container">
          <div class="content-left todo-cite">
            <h3>The band celebrates its Centennial</h3>
            <!-- TODO description -->
            <!-- TODO image of star with 100 -->
          </div>
        </div>
      </div>
      <!-- // Article -->

      <!-- Article -->
      <div class="timeline-article">
        <div class="meta-date">
          <span class="date">1993</span>
        </div>
        <div class="content-left-container">
          <div class="content-left todo-cite">
            <h3>Kennedy Center Honors</h3>
            <p>In 1993, the Cornhusker Marching Band made a surprise appearance on the Emmy Award winning Kennedy Center Honors before millions of television viewers honoring the induction of UNL alumnus, Johnny Carson.</p>
            <!-- TODO photo of Johnny Carson receiving award -->
          </div>
        </div>
      </div>
      <!-- // Article -->

      <!-- Article -->
      <div class="timeline-article">
        <div class="meta-date">
          <span class="date">1996</span>
        </div>
        <div class="content-left-container">
          <div class="content-left todo-cite">
            <h3>Sudler Trophy</h3>
            <p>The Cornhusker Marching Band was the 1996 recipient of the Louis B. Sudler Trophy. The Sudler Trophy is voted on each year by college band directors from across the country and is presented by the John Philip Sousa Foundation in recognition of the band's tradition of excellence and innovation. The John Philip Sousa Foundation has made the following statement regarding the award:</p>

            <p>"The purpose of the Sudler Trophy is to identify and recognize collegiate marching bands of particular excellence who have made outstanding contributions to the American way of life. The Sudler Trophy will be awarded annually to a college or university marching band which has demonstrated the highest musical standards and innovative marching routines and ideas, and which has made important contributions to the advancement of the performance standards of college marching bands over a period of years."</p>
            <!-- TODO photo of Sudler Trophy -->
          </div>
        </div>
        <div class="content-right-container">
          <div class="content-right todo-cite">
            <h3>St. Patrick's Day Parade</h3>
            <p>In 1996 and again in 2000, the Cornhusker Marching Band (joined by the Alumni Band in 2000) marched in the St. Patrick's Day Parade through downtown Dublin, Ireland.</p>
            <!-- TODO photo of parade -->
          </div>
        </div>
      </div>
      <!-- // Article -->

      <!-- Article -->
      <div class="timeline-article">
        <div class="meta-date">
          <span class="date">2005</span>
        </div>
        <div class="content-left-container">
          <div class="content-left todo-cite">
            <h3>Tommy Lee Goes to College</h3>
            <p>The Cornhusker Marching Band was featured prominently in the NBC mini-series, Tommy Lee Goes to College.</p>
            <!-- TODO photo of Tommy Lee -->
          </div>
        </div>
      </div>
      <!-- // Article -->

    </div>
    <div class="timeline-end">2019</div>
  </section>
  <!-- // Vertical Timeline -->
</div>
