---
title: Video | Band History
---

<div class="container">
	<h2>Video</h2>
  <h3 class="timeline">1910</h3>
  <h3 class="timeline">1920</h3>
  <h3 class="timeline">1930</h3>
  <div class="row">
    <div class="col-md-4">
      <a href="https://mediacommons.unl.edu/luna/servlet/s/699s3w">
        <h4>1930</h4>
        <img src="images/video_thumbs/07.jpeg" class="video_thumb">
        <p>Title: Nebraska vs. Pittsburgh, 1930. Series: SPORTS - football. Program: 45-4-D.</p>
      </a>
    </div>

  </div>
  <h3 class="timeline">1940</h3>
  <div class="row">
    <div class="col-md-4">
      <a href="https://mediacommons.unl.edu/luna/servlet/s/p4ocgp">
        <h4>1943</h4>
        <img src="images/video_thumbs/14.jpeg" class="video_thumb">
        <p>Ladies in Band; Hallowe'en (no crowd); Pumpkin; Ghost; Bat; Cat</p>
      </a>
    </div>
    <div class="col-md-4">
      <a href="https://mediacommons.unl.edu/luna/servlet/s/e2yzrs">
        <h4>1943, 1947, 1952, 1954</h4>
        <img src="images/video_thumbs/reel4.jpeg" class="video_thumb">
        <p>Digitized video (without audio) of the University of Nebraska-Lincoln Marching Band in 1943, 1947, 1952, and 1954. The video content includes the following precision drills: long columns (1947); short columns shot at slower speed (1952); and drills at Missouri used in the Orange Bowl (1954)</p>
      </a>
    </div>

  </div>
  <h3 class="timeline">1950</h3>
  <div class="row">
    <div class="col-md-4">
      <a href="https://mediacommons.unl.edu/luna/servlet/s/bm37b0">
        <h4>1952</h4>
        <img src="images/video_thumbs/04.jpeg" class="video_thumb">
        <p>Football inserts BG Color Orig. Crowd, Band, etc. Band 1952 sideline & sitting</p>
      </a>
    </div>
    <div class="col-md-4">
      <a href="https://mediacommons.unl.edu/luna/servlet/s/g88jx9">
        <h4>1952</h4>
        <img src="images/video_thumbs/03.jpeg" class="video_thumb">
        <p>Band 1952 & misc. LIST: Game shots; spectators entering; Cheerleaders; Crowd shots; Band lining up, marching off, playing; Step off from sidelines (reversed); Homecoming halftime show (reversed); Homecoming halftime show (reversed)</p>
      </a>
    </div>
    <div class="col-md-4">
      <a href="https://mediacommons.unl.edu/luna/servlet/s/9r6eqe">
        <h4>1955</h4>
        <img src="images/video_thumbs/10.jpeg" class="video_thumb">
        <p>Band Day, Kansas, Colorado, Oklahoma</p>
      </a>
    </div>
    <div class="col-md-4">
      <a href="https://mediacommons.unl.edu/luna/servlet/s/01a4yu">
        <h4>1955</h4>
        <img src="images/video_thumbs/09.jpeg" class="video_thumb">
        <p>Orange Bowl, 1955 (whole reel): Nebr. Band entry, Duke Band entry, Miami U. Band entry, High school band entries, Football highlights, Massed high school bands in East stands., Precision Drill by Nebr. U Band, Some frames of Duke Band (in blue), Pageant.</p>
      </a>
    </div>
    <div class="col-md-4">
      <a href="https://mediacommons.unl.edu/luna/servlet/s/9x5o22">
        <h4>1959</h4>
        <img src="images/video_thumbs/10.jpeg" class="video_thumb">
        <p>Video includes the following: Texas game, precision: long-horn steer, Texas, NU. Oregon game, precision: alternating diagonals. Hawaii game: flag, thermometer, ukelele, precision. Band Day: 1959, N, "peace", massed. Homecoming: east entrance into concert formation.</p>
      </a>
    </div>
  </div>
  <h3 class="timeline">1960</h3>
  <h3 class="timeline">1970</h3>
  <div class="row">
    <div class="col-md-4">
      <a href="https://mediacommons.unl.edu/luna/servlet/s/p69kp5">
        <h4>1977</h4>
        <img src="images/video_thumbs/06.jpeg" class="video_thumb">
        <p>A TEL RA Production Nebraska Bowl. Liberty Bowl 1977 Print #2." Additional note inside canister: "homecoming displays, tassels, cheerleaders (reversed), outtakes 1952</p>
      </a>
    </div>

  </div>



</div>
